<!DOCTYPE html>
<html>
  <head>
    <title>Database Compare</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    {# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"> #}
    <link rel="stylesheet" href="/stylesheets/bootstrap-material-design.min.css">
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/javascripts/jquery-3.2.1.slim.min.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap-material-design.js" ></script>
  </body>
</html>
